*~
test*
*.o
*.conf
Local*
bin
mshadow
config.mk
layer.h
layer_impl-inl.hpp
.gitignore
*.so
im2bin
*.pyc
example
*.log
ps-lite
dmlc-core
bin
rabit
*.opensdf
*.sdf
*.pdb
*.user
*.suo
*.deps
*.cache
*state
*build